* {
  box-sizing: border-box;
}

body {
  background-color: #242B33;
  font-family: "Raleway", sans-serif;
  color: #FFFFFF;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  margin-bottom: 100px;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #D4C17F;
}

h2 {
  margin: 0;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #D4C17F;
}

.container {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), url("../img/main_bg.png");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: center, center;
  height: 100vh;
}
.main .container {
  height: calc(100vh - 5px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-header {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-title {
  width: 556px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-bottom {
  width: 530px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 74px;
  align-self: center;
}

.header-logo {
  width: 134px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.header-menu {
  display: flex;
}
.header-menu_item {
  margin-left: 40px;
}
.header-menu_link {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
}

.contacts-item {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
}
.contacts-item_icon {
  margin-right: 14px;
}

.menu-button {
  display: none;
  width: 1.5rem;
  position: fixed;
  top: 3rem;
  right: 5%;
  cursor: pointer;
  height: 1.25rem;
  z-index: 666;
}
.menu-button span {
  width: 1.5rem;
  height: 2px;
  background-color: #FFFFFF;
  display: block;
  position: absolute;
  transition: all 0.6s ease;
}
.menu-button span:nth-of-type(2) {
  top: 0.5rem;
}
.menu-button span:nth-of-type(3) {
  top: 1rem;
}
.menu-button.active span {
  background-color: white;
}
.menu-button.active span:nth-of-type(1) {
  transform: translateY(0.5rem) rotate(-45deg);
}
.menu-button.active span:nth-of-type(2) {
  transform: translateX(1.5rem);
  opacity: 0;
}
.menu-button.active span:nth-of-type(3) {
  transform: translateY(-0.5rem) rotate(45deg);
}

.menu-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #242B33;
  display: grid;
  grid-template-columns: 3fr 4fr;
  color: white;
  transform: translateX(100%);
  transition: all 0.6s ease-in-out;
  z-index: 665;
}
.menu-overlay_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
}
.menu-overlay.open {
  transform: translateX(0);
}
.menu-overlay.open .menu-overlay_image img {
  -webkit-animation: fadeIn 0.8s ease-in-out 0.6s forwards;
          animation: fadeIn 0.8s ease-in-out 0.6s forwards;
}
.menu-overlay.open .nav {
  -webkit-animation: fadeIn 0.8s ease-in-out 0.2s forwards;
          animation: fadeIn 0.8s ease-in-out 0.2s forwards;
}

.nav {
  padding: 2rem;
  opacity: 0;
}
.nav__items {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}
.nav__item {
  color: white;
  margin-top: 1rem;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.nav__item::before {
  content: "";
  height: 1px;
  width: 0;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;
}
.nav__item:hover {
  padding-left: 2.5rem;
}
.nav__item:hover::before {
  width: 1.5rem;
}

.logo {
  position: fixed;
  width: 176px;
  top: 2rem;
  left: 2rem;
  transition: all 0.6s ease-in-out;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url("../img/advantages_bg_II.svg");
  background-repeat: no-repeat;
  background-size: 274px;
  background-position: left 90% bottom 20px;
}
.advantages .container {
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 200px));
  -moz-column-gap: 70px;
       column-gap: 70px;
  justify-content: center;
  justify-items: center;
}
.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages-item_icon {
  margin-bottom: 53px;
  width: 80px;
  height: 80px;
}
.advantages-item_text {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}

.apartments {
  background-image: url("../img/apartments_bg_III.svg");
  background-repeat: no-repeat;
  background-position: 13% 80px;
  background-size: calc(140px + 284 * (100vw - 280px) / 1640);
}
.apartments-title {
  margin-bottom: 100px;
}
.apartments-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-auto-rows: 320px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
}
.apartments-grid_item {
  position: relative;
}
.apartments-grid_item::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #242B33 0%, rgba(36, 43, 51, 0) 0.01%, #242B33 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.apartments-grid_item--image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.apartments-grid_item p {
  margin: 0;
  margin-bottom: 50px;
  margin-left: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 400;
  font-size: calc(16px + 8 * (100vw - 280px) / 1640);
  line-height: calc(19px + 9 * (100vw - 280px) / 1640);
  z-index: 10;
}

@media (max-width: 1240px) {
  h2 {
    font-size: calc(26px + 10 * (100vw - 280px) / 1640);
    line-height: calc(35px + 13 * (100vw - 280px) / 1640);
  }
  .container {
    max-width: 90%;
  }
  .advantages {
    background-size: calc(170px + 104 * (100vw - 280px) / 1640);
  }
  .advantages .container {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
  .apartments {
    background-position: 2% 60px;
  }
  .apartments-title {
    margin-bottom: 80px;
  }
  .apartments-grid {
    row-gap: 35px;
  }
}
@media (max-width: 992px) {
  h1 {
    margin-bottom: 15%;
    font-size: calc(26px + 22 * (100vw - 280px) / 1640);
    line-height: calc(35px + 29 * (100vw - 280px) / 1640);
  }
  .contacts-item {
    font-size: calc(14px + 4 * (100vw - 280px) / 1640);
    line-height: calc(16px + 5 * (100vw - 280px) / 1640);
  }
  .advantages-item_icon {
    margin-bottom: 40px;
  }
  .advantages-item_text {
    font-size: 18px;
    line-height: 21px;
  }
}
@media (max-width: 835px) {
  .main-header {
    padding-bottom: 0;
  }
  .main-title {
    width: 70%;
  }
  .header-menu {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .advantages .container {
    grid-template-columns: repeat(2, minmax(150px, 200px));
    row-gap: 50px;
  }
  .apartments {
    background-position: 1% 50px;
  }
  .apartments-title {
    margin-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .header-logo {
    width: 120px;
  }
  .main-title img {
    width: 35px;
  }
  .main-bottom {
    width: 75%;
    margin-bottom: 10%;
  }
  .advantages {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (max-width: 683px) {
  .menu-overlay {
    grid-template-columns: 4fr 4fr;
  }
  .advantages-item_icon {
    margin-bottom: 30px;
    width: 70px;
    height: 70px;
  }
  .advantages-item_text {
    font-size: 16px;
    line-height: 19px;
  }
}
@media (max-width: 576px) {
  .menu-overlay {
    grid-template-columns: 4fr 3fr;
  }
  .main {
    background-position: center, 85%;
  }
  .main-bottom {
    flex-direction: column;
    align-items: center;
    justify-content: unset;
  }
  .contacts-item:not(:last-child) {
    margin-bottom: 15px;
  }
  .advantages {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .advantages .container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  }
  .apartments-grid {
    grid-auto-rows: -webkit-min-content;
    grid-auto-rows: min-content;
  }
}
@media (max-width: 460px) {
  .menu-overlay {
    grid-template-columns: 4fr;
  }
  .logo {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  .logo img {
    width: 130px;
  }
  .main-title {
    width: 80%;
  }
  .main-bottom {
    width: 100%;
  }
  .contacts-item_icon {
    height: 18px;
  }
  .advantages .container {
    row-gap: 40px;
  }
  .advantages-item_icon {
    margin-bottom: 20px;
  }
  .apartments {
    background-position: 2% 45px;
  }
  .apartments-title {
    margin-bottom: 40px;
  }
  .apartments-grid {
    grid-template-columns: 95%;
    row-gap: 30px;
  }
  .apartments-grid_item p {
    right: 0;
    left: auto;
    margin: 0;
    margin-bottom: 30px;
    margin-right: 30px;
  }
}
@media (max-width: 320px) {
  .menu-button {
    top: 40px;
  }
  .main {
    background-position: center, 65%;
  }
  .main-header {
    padding-top: 20px;
  }
  .main-title {
    width: 100%;
  }
  .main-title img {
    width: 30px;
  }
  .header-logo {
    width: 50%;
  }
  .contacts-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .advantages .container {
    grid-template-columns: 90%;
  }
  .apartments-grid_item p {
    margin-bottom: 15px;
    margin-right: 20px;
  }
}/*# sourceMappingURL=style.css.map */