*
  box-sizing: border-box

body
  background-color: #242B33
  font-family: 'Raleway', sans-serif
  color: #FFFFFF

ul
  margin: 0
  padding: 0
  list-style: none

a
  text-decoration: none

h1
  margin: 0
  margin-bottom: 100px
  text-align: center
  font-family: 'Playfair Display', serif
  font-weight: 700
  font-size: 48px
  line-height: 64px
  color: #D4C17F

h2
  margin: 0
  font-family: 'Playfair Display', serif
  font-weight: 700
  font-size: 36px
  line-height: 48px
  color: #D4C17F

.container
  max-width: 1110px
  margin-left: auto
  margin-right: auto
