.advantages
  padding-top: 120px
  padding-bottom: 120px
  background-image: url("../img/advantages_bg_II.svg")
  background-repeat: no-repeat
  background-size: 274px
  background-position: left 90% bottom 40px
  & .container
    display: flex
    align-items: center
  &-item
    display: flex
    flex-direction: column
    align-items: center
    margin-right: 35px
    margin-left: 35px
    &_icon
      margin-bottom: 53px
      width: 80px
      height: 80px
    &_text
      margin: 0
      font-family: 'Roboto', sans-serif
      font-weight: 300
      font-size: 20px
      line-height: 27px
      text-align: center
